body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  min-width: 444px;
}

h1, h2, h3, h4, ul, li, p {
  margin: 0;
  padding: 0
}

a {
  @include reset-link;
}

button {
  @include reset-button;
}

li {
  list-style-type: none;
}