.container {
  max-width: var(--container-width);
  padding-inline: var(--section-padding-x-L);
  margin-inline: auto;

  @media screen and (max-width: 1199px) {
    padding-inline: var(--section-padding-x-M);    
  }

  @media screen and (max-width: 899px) {
    padding-inline: var(--section-padding-x-S);    
  }

  @media screen and (max-width: 599px) {
    padding-inline: var(--section-padding-x-XS);    
  }
}